@font-face {
	font-family: 'Nexa Demo';
	src: url(../../assets/fonts/NexaDemo-Bold.woff2) format('woff2'),
	url(../../assets/fonts/NexaDemo-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}