.simple-slider .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

